body
{
    margin:50px 0px; padding:0px;
    text-align:center;
    font-size: 12px;
}

input
{
    font-size: 12px;
}
.clear
{
    clear: both
}
#container
{
    width:90%;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
    display: inline-block;
}

#container #error_box
{
    width:100%;
    margin:0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px dashed #333;
    background-color:#bc8f8f;
    color:black;
    font-size: 12px;
    display: none;
}
#container #error_box ul
{
    list-style-type: circle;
}

#container .login
{
    width: 261px;
    margin:0px auto;
    text-align:left;
}

#container label{
    display:inline-block;
    width: 100px;
}

#container .menu div
{
    float: left;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #006400;
    background-color: #ffd700;
}

#container .menu div a{
    text-decoration:none;
    color:black;

}

#container .edit
{
    width: 500px;
}

#container .edit #email
{
    width: 366px;
}
#container .edit textarea
{
    width: 100%;
}


